@import "../style/vars";
@import "../style/mixins";

.header, .footer {
    @extend %grid;
    background-color: $primary-bg-color;
    color: $primary-text-color;
    padding: 25px;
    @extend %shadow;
    &__content{
        grid-column: 2/3;
        display: flex;
    }
}
.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    &__content{
        justify-content: space-between;
    }
    &__left,&__right{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    &__left{
        list-style: none;
    }
    &__heading{
        @include font($font-2,700,24px);
    }
    &__genre{
        @include font($font-2,400,20px);
    }
    &__link{
        color: $primary-text-color;
    }
    &__profile-link{
        color: $primary-bg-color;
        text-decoration: none;
    }
}
.searchForm {
    position: relative;
    display: flex;
    justify-content: center;
}
.searchForm__input {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.15);
    color: inherit;
    border: none;
    outline:none;
    padding: 5px;
    transition: 0.3s;
        &:hover {
            background-color: rgba(255, 255, 255, 0.242);
        }
}
.searchForm__btn {
    all: unset;
    display: flex;
    align-items: end;
}