@import "../style/vars";
@import "../style/mixins";

.main{        
    text-align: center;
    &__content{
        flex-direction: column;
        align-items: center;
        color: $primary-bg-color;
    }
    &__heading{
        @include font($font-1,700,40px);
    }
}

.genre{
    padding: 130px 105px 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__heading{
        @include font($font-1,700,36px);
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 112px 0;
        gap: 112px 84px;
    }
    &__wrapper{
        width: 400px;
        height: 185px;
        border-radius: 8px;
        overflow: hidden;
        @extend %genre-shadow;
    }
    &__img{
        width: 100%;
        height: 100%;
        object-fit: none;
    }   
    &__link{
        display: flex;
        align-items: center;
        justify-content: center;
        color: $secondary-bg-color;
        @include font($font-1,500,24px);
        width: 484px;
        height: 81px;
        background-color: $primary-bg-color;
        border: 3px solid $secondary-bg-color;
        border-radius: 8px;
    }
}