.books-list{
    @extend %grid;
    margin: 50px 0;       
    &__content{
        grid-column: 2/3;
        display: flex;
        flex-direction: column;
        color: $primary-bg-color;
        align-items: center;
        justify-content: center;
    }
    &__heading{
        @include font($font-1,700,40px);
        margin: 0 0 50px 0;
        text-align: center;
        & span{
            text-decoration: underline;
            color: $secondary-bg-color;
            font-style: italic;
        }
    }
    &__list{
        display: flex;
        justify-content: center;
        gap: 30px 20px;
        flex-wrap: wrap;
        flex-grow: 1;
    }
}