.logIn{
    display: flex;
    align-items: center;
    justify-content: center;
    &__wrapper,&__text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__text,&__link,&__heading{
        text-align: center;
        color: $primary-bg-color;
    }
    &__heading{
        @include font($font-2,700,36px);

    }
    &__link{
        @include font($font-2,500,24px);
        text-decoration: none;
    }
    &__redirect{
        @include font($font-2,700,30px);
        text-decoration: underline;
    }
}
