.profile {
    padding: 50px 50px;
    font-family: $font-1;
}

.profile-title {
    font-size: 20px;
    margin: 20px 0;
    font-weight: bold;
}

.main-title {
    margin: 50px 0;
}

.profile-user {
    display: flex;
    column-gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: darkgray;
}

.profile-btn {
    padding: 10px 15px;
    cursor: pointer;
    border: 1px solid #1B3764;
    // color: #1B3764;
    border-radius: 12px;
    background: transparent;
}

.profile-icon {
    font-size: 25px;
    color: #FFCA42;
    cursor: pointer;
}

.profile-info {
    font-size: 16px;
    color: grey;
    margin-bottom: 20px;
    border-bottom: 1px solid grey;
    width: 600px;
}

.profile-input {
    width: 600px;
    height: 40px;
    outline: none;
    padding-left: 20px;
    border: 1px solid rgb(223, 215, 215);
    border-radius: 15px;
}

.profile-btn2 {
    display: block;
    color: white;
    background: #1B3764;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 20px;
}

.profile-input2 {
    width: 600px;
    padding: 30px 15px;
}

.profile-remove {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 20px;
    color: red;
    cursor: pointer;
}

.crumbs {
    display: flex;
}

.input-file {
    position: relative;
    display: inline-block;
}

.input-file span {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 14px;
    vertical-align: middle;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 10px;
    background-color: #040b52;
    line-height: 22px;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    transition: background-color 0.2s;
}

.input-file input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

/* Focus */
.input-file input[type=file]:focus+span {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

/* Hover/active */
.input-file:hover span {
    background-color: #150ab1;
}

.input-file:active span {
    background-color: #2E703A;
}

/* Disabled */
.input-file input[type=file]:disabled+span {
    background-color: #eee;
}

.profile-input:invalid {
    border-color: red;
}

.profile-input:valid {
    border-color: #dfd;
}