$primary-text-color:#FFFFFF;
$secondary-text-color:#1B3764;

$primary-bg-color:#1B3764;
$secondary-bg-color:#FFCA42;
$third-bg-color:#B4C7E7;



$font-1:'Raleway', sans-serif;
$font-2:'Inter', sans-serif;