.main-genre {
display: flex;
flex-wrap: wrap;

}
.main-genre__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main-genre__img {
    width: 160px;
}

.main-genre__img:hover {
    border: 3px solid blue
}