* {
    margin: 0; 
    padding: 0;
}
.container{
    max-width: 1140px;
    margin: 0 auto; 
}   
h3{
    margin-top: 270px;
    font-size: 240px;
    line-height: 26px;
    color:  #1976d2;
    text-align: center;
    text-shadow: #5dc8e5 0 0 10px
}
h2{
    font-size: 30px;
    line-height: 26px;
    color: darkblue;
    text-align: center;
    padding-top: 100px;
}
.text{
    padding-top: 25px;
    text-align: center;
    width: 40%;
    position: absolute;
    margin: 0 auto;
    position: center;
    margin:0 40% 0 20%;
    color:grey;
}
button{
    background-color: #4dabf5;
    padding: 15px 82px;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow:  2px 2px lightgrey;
    border: 2px solid #4dabf5;
    color: white;
    width: 20%;
    margin:0 20% 0 40%;
    margin-top: 100px;
}
button:hover{
    background-color: white;
    color: #4dabf5;
    transition: 0.5s;
    cursor: pointer;
}