.main{
    &__wrapper,&__text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__text,&__link,&__heading{
        color: #4dabf5;
    }
    &__link{
        font-weight: 500;
        font-size: 18px;
        text-decoration: none;
    }
}

.error {
    position: absolute;
    background-color: #ff6333;
    z-index: 5;
    top: 20%;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px #ff6333,
      0 0 50px #ff6333,
      0 0 80px #ff6333;
  }